*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: ghostwhite;
}


/* === Barra de navegacion ===*/

nav{
    background: #008000;
    height: 80px;
    width: 100%;
}

header form{
   display: none;
}

.enlace{
    position: absolute;
    padding: 20px 50px;
}

.logo{
    height: 40px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover{
    background: #21C063;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
} 

/* === Galeria Index ===*/

.galeria{
    padding: 1rem;
}


.contenedor-galeria{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 200px;
    margin-right: 200px;

    gap: 1rem;
}



main section h2{
    color: black;
}

.text{
    color: #FFFFFF;
}


/* === Footer Desktop ===*/

.footer{
    background-color: #008000;
    color: white;
    padding: 1rem;
}

.icono{
    text-align: center;
}

.copyrigth{
    text-align: center;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.938rem;
}



/* === Vista Tablet === */

@media(max-width: 1200px){

    /* Icono */
    .enlace{
        padding-left: 20px;
    }

    /* Secciones */
    nav ul li a{
        font-size: 13px;
    }


    .contenedor-galeria{
        margin-right: 85px;
        margin-left: 85px;
    }

    /* --- footer tablet --- */

    .icono{
        text-align: center;
    }

    .copyrigth{
        text-align: center;
        margin-top: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.938rem;
    }

}

/* === Vista Mobile === */

@media(max-width: 768px){

    /* --- Barra de navegacion --- */

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    li a:hover, li a.active{
        background: none;
        color: #008000;
    }

    #check:checked ~ ul{
        left: 0;
    } 


    /* === Footer mobile ===*/

    .footer{
        height: 200px;
    }

    .icono{
        text-align: center;
    }

    .copyrigth{
        text-align: center;
        margin-top: 30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 0.938rem;
    }

    .contenedor-galeria{
        margin-left: 0px;
        margin-right: 0px;
    }
    
}


/* --- Vista mobile camisetas.html --- */

@media(max-width: 768px){
    img{
        max-width: 100%;
    }


    h1{
        background-color: #9EF01A;
        margin-top: 2rem;
        margin-bottom: rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .container--items{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .item{
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        border-radius: 10px;
        margin-top: 2rem;

        gap: 20px;
    }

    .item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }

    .titulo--item{  
       display: inline-block;
       text-align: center;
       margin-top: 0rem;
       margin-bottom: 0rem;
    }

    .precio-item{
        display: inline-block;
        text-align: center;
    }

    .boton-item{
        border-radius: 20px;
        color: #008000;
        float: right;
        cursor: pointer;
    }


}

/* --- Vista tablet camisetas.html --- */

@media(max-width: 1200px){
    img{
        max-width: 100%;
    }


    h1{
        background-color: #9EF01A;
        margin-top: 2rem;
        margin-bottom: rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .container--items{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .item{
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        border-radius: 10px;
        margin-top: 2rem;

        gap: 20px;
    }

    .item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }

    .titulo--item{  
       display: inline-block;
       text-align: center;
       margin-top: 0rem;
       margin-bottom: 0rem;

       font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .precio-item{
        display: inline-block;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }

    .boton-item{
        border-radius: 20px;
        color: #008000;
        float: right;
        cursor: pointer;
    }


}

/* --- Vista Desktop camisetas.html --- */

@media(min-width: 1200px){

    main section h1{
        background-color: gray;
        color: white;
        text-align: center;
    }

    img{
        max-width: 100%;
    }

    .container--items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1300px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }


    .item{
        border-radius: 10px;
    }

    .item:hover{
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }
}

/*--- Seccion vende tu camiseta --- */

/* ----- Vista Mobile ----- */

@media(max-width: 768px){

    .parrafo-venta {
        background-color: #008000;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-venta{
        width: 400px;
        background: #21C063;
        padding: 30px;
        padding-left: 0.5rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
    }

    .controls{
        width: 100%;
        background: whitesmoke;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f56c5;
        font-family: 'calibri';
        font-size: 18px
    }

    textarea{
        resize: none;
        width: 300px;
        height: 100px;

        margin-bottom: 2rem;
    }

    .form-venta .botons{
        width: 100%;
        background: wheat;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }





}

@media (max-width: 1200px){
    .parrafo-venta {
        background-color: #008000;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-venta{
        width: 400px;
        background: #21C063;
        padding: 30px;
        padding-left: 0.5rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
    }

    .controls{
        width: 100%;
        background: whitesmoke;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f56c5;
        font-family: 'calibri';
        font-size: 18px
    }

    textarea{
        resize: none;
        width: 300px;
        height: 100px;

        margin-bottom: 2rem;
    }

    .form-venta .botons{
        width: 100%;
        background: wheat;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }

}

@media (min-width: 1200px){

    main section h1{
        background: #21C063;
        width: 1200px;
        margin-left: 2rem;
    }

    .parrafo-venta {
        width: 1200px;
        margin-left: 2rem;
        background-color: #008000;
        color: white;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .form-venta{
        width: 400px;
        background: #21C063;
        padding: 30px;
        padding-left: 0.5rem;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-radius: 4px;
        font-family: 'calibri';
        color: white;
    }

    .controls{
        width: 100%;
        background: whitesmoke;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid #1f56c5;
        font-family: 'calibri';
        font-size: 18px
    }

    textarea{
        resize: none;
        width: 300px;
        height: 100px;

        margin-bottom: 2rem;
    }

    .form-venta .botons{
        width: 100%;
        background: wheat;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
    }

}




