@media(min-width: 768px){
    .contenedor-galeria{
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .h1-inicio{
        background-color: $c-verde-h1;
    }
}

@media(min-width: 1200px){
/* === Galeria Index ===*/


.galeria{
    padding: 1rem;
}


.contenedor-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;

    gap: 1rem;
}



main section h2{
    color: $c-negro;
}

.text{
    color: $c-blanco;
}

/* ---- Index Desktop ---- */

.h1-inicio{
    background-color: $c-verde-h1;
}

}

@media(max-width: 768px){
    /* === Galeria Index ===*/

    .contenedor-galeria{
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .h1-inicio{
        background-color: $c-verde-h1;
    }



}